<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020485406806-h71qnk8m710iag55vqmq9s0qdabtrtl7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020485406806-h71qnk8m710iag55vqmq9s0qdabtrtl7</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ6B0wn1TWTlyVP5dpFfNYxehgNCvJnY0</string>
	<key>GCM_SENDER_ID</key>
	<string>1020485406806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.HaamiNepali</string>
	<key>PROJECT_ID</key>
	<string>haaminepali-8dd13</string>
	<key>STORAGE_BUCKET</key>
	<string>haaminepali-8dd13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020485406806:ios:f4b1754e79f812f44babf7</string>
</dict>
</plist>